/*
 *= require_self
 *= require_tree .
 */
body{
  color: rgba(0, 0, 0, 0.74902);
  background-color: #DADADA;
}
a{
  text-decoration: none;
}
.login{
    width: 33%;
    margin: auto !important;
    margin-top: 10% !important;
}
header .menu{
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  z-index: 1000;
  background-color: inherit;
  border-radius:0px !important;
}

.custom-checkbox-field{
  float: left !important;
  display: inherit !important;
}

.dash-form{top: 43px !important;}

.hide{display: none !important;}
.text-red{color: red;}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
